<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="capstone.conestoga.pizzanpub24">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DeliveryOrder"
            android:label="@string/title_activity_main"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="capstone.conestoga.pizzanpub24.MainActivity" />
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="capstone.conestoga.pizzanpub24.MainActivity" />
        </activity>
        <activity
            android:name=".CreateProfile"
            android:label="@string/title_activity_create_profile"
            android:parentActivityName=".DeliveryOrder">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="capstone.conestoga.pizzanpub24.DeliveryOrder" />
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="capstone.conestoga.pizzanpub24.MainActivity" />
        </activity>
        <activity
            android:name=".PizzaActivity"
            android:label="@string/title_activity_pizza"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="capstone.conestoga.pizzanpub24.MenuActivity" />
        </activity>
        <activity
            android:name=".MakePizzaActivity"
            android:label="@string/title_activity_make_pizza"
            android:parentActivityName=".PizzaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="capstone.conestoga.pizzanpub24.PizzaActivity" />
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="capstone.conestoga.pizzanpub24.LoginActivity" />
        </activity>
        <activity
            android:name=".PaymentActivity"
            android:label="@string/title_activity_payment"
            android:parentActivityName=".MakePizzaActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="capstone.conestoga.pizzanpub24.MakePizzaActivity" />
        </activity>
        <activity
            android:name=".TableReservationActivity"
            android:label="@string/title_activity_table_reservation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="capstone.conestoga.pizzanpub24.MainActivity" />
        </activity>
    </application>

</manifest>
